.section {
  max-width: 900px;
  margin: 20px auto 70px;
  padding: 5% 7%;
  text-align: justify;
  background-color: #f7f7f8;
  opacity: 0.9;
  border-radius: 10px;
  max-width: 900px;
}

.section__header {
  text-align: left;
  color: #4d0049;
}
