.article {
  text-indent: 50px;
  margin-top: 35px;
  padding: 0 10px;
}
.article__header {
  color: #3d0039;
  text-align: center;
}
.article__listItem {
  color: #4d0049;
}
.article__listItemText {
  color: black;
}
.article--highlighted {
  color: #4d0049;
  font-size: 18px;
}
